// Default
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: color 0.6s, background-color 0.6s;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a:not(.link-button) {
  color: var(--link-color);
  transition: opacity 0.2s;
  opacity: 0.8;
  word-wrap: break-word;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    opacity: 1;
  }
}

img {
  max-width: 100%;
}
a.email,
a.location,
a.phone {
  padding-left: 32px;
  position: relative;
}
a.email:before,
a.location:before,
a.phone:before {
  position: absolute;
  font-family: "FontAwesome";
  top: 0;
  left: 10px;
  color: var(--title-color);
}
a.email:before {
  content: "\f1fa";
}

a.location:before {
  content: "\f041";
}

a.phone:before {
  content: "\f095";
}

hr {
  border-color: var(--border-color);
  width: 80%;
  margin: calc(var(--space) / 3) auto;
}





.disabled {
  position: relative;
  
  opacity: 1 
}

.disabled:before {

  display: block;
  content: 'x';
  color: var(--code-color);
  text-decoration: none;
  font-size: 300%;
  position: absolute;
  left: 33%;
  top: -25%;
  z-index: 1;
  opacity: 1;
}

.arrow {
  transform: rotate(45deg);

}
