<footer class="footer_barley">
  <p>
    <a class="subscribe_barley btn" target="_blank" href="{{@blog.url}}/rss/">
      <i class="fa fa-rss"></i> Subscribe!
    </a>
  </p>
  <div class="font_small">
    Powered by <a href="http://tryghost.org" target="_blank">Ghost</a>.
  </div>
  <div class="font_small">
    All content copyright <a href="/">{{@blog.title}}</a>
    &copy; {{date format="YYYY"}} &bull; All rights reserved. &bull;
    Content <a href="https://github.com/jvtrigueros/barley#attributions">attributions.</a>
  </div>
  <div class="font_small">
    Originally built by <a href="http://ghostlook.com" target="_blank">GhostLook</a>
    & then modified by <a href="https://github.com/jvtrigueros/barley" target="_blank">Jose V. Trigueros</a>
  </div>
</footer>
